
 body{
      backgorund-color:light blue;
 padding: 10px 200px 200px 200px;
text-align:center;

    }
.title{
  text-align:center;
   font-style: oblique;
}
.tweets{
  text-align:center;

}
.tweet{

box-shadow: 0px 0px 5px -3px #000000, 5px 5px 10px 5px rgb(234, 61, 23 );

}
.timeline{
	  font-style: italic;
	  font-size: 20px; 
}

.button {
margin-top: 20px;
padding: 10px 20px 11px;
font-size: 15px;
background-color: #ff6666;
}



